@import "../fonts/gilroy/stylesheet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-gilroy {
  font-family: Gilroy, sans-serif;
}

.spread-on-hover .child {
  transition: all .3s cubic-bezier(.05,.03,.35,1);
}
.spread-on-hover:hover .child {
  @apply ml-1
}

.project:hover {
  transition: 1.5s;
}
.project:hover .description {
  bottom: 0
}

.nav-active {
  @apply text-[#E7D9EF]
}
