@import "../fonts/gilroy/stylesheet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.font-gilroy {
  font-family: Gilroy, sans-serif;
}

.spread-on-hover .child {
  transition: all .3s cubic-bezier(.05,.03,.35,1);
}
.spread-on-hover:hover .child {
  @apply ml-1
}

.project:hover {
  transition: 1.5s;
}
.project:hover .description {
  bottom: 0
}

.nav-active {
  @apply text-[#E7D9EF]
}